<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667949652702-8tk07tpslvbc9iu5g52qr4c04ou8in00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667949652702-8tk07tpslvbc9iu5g52qr4c04ou8in00</string>
	<key>API_KEY</key>
	<string>AIzaSyCWJazXuzWmtz-RR2U5853XTCiJkC1Jmqw</string>
	<key>GCM_SENDER_ID</key>
	<string>667949652702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breadcrumbs</string>
	<key>PROJECT_ID</key>
	<string>breadcrumbs-c8f5e</string>
	<key>STORAGE_BUCKET</key>
	<string>breadcrumbs-c8f5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667949652702:ios:328b4cdfb289ceb80b404f</string>
	<key>DATABASE_URL</key>
	<string>https://breadcrumbs-c8f5e.firebaseio.com</string>
</dict>
</plist>